services:
  waha:
    image: devlikeapro/waha
    container_name: 1wahaApp
    restart: unless-stopped

    env_file:
      - .env

    ports:
      - "3000:3000"

    volumes:
      - 1wahaApp:/app/storage

    stdin_open: true
    tty: true

volumes:
  1wahaApp:
    name: 1wahaApp
